
.card {
    
    justify-content: center;
    
}

.cardbox {
    color: #242424;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    gap: 1em;
    justify-content: center;
    align-items: center;
    
}

.pokeCard {
    border-radius: 0.5em;
    background-color: white;
    width: calc(33.33% - 1em);
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 90%;
    
    @media (max-width:400px) {
        width: 45%;
    }
    
}
    


.front-image {
    width: 8em;
   // width: 100px;
    justify-content: center;
    text-align: center;
    
    @media (max-width: 500px) {
        width: 5em;
    }
}